QLineEdit {
    padding: 6px;
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 14px;
}
QPushButton {
    background: #333;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
}
QPushButton:hover {
    background: #555;
}